.Navbar {
   
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top:100px;
   
}

.Navbar a {
    text-decoration:none;
    color: linen;
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.Navbar ul {
    list-style-type: none;
    padding: 0;
}

.Navbar li {
    padding:20px;
    
}

.Navbar a:hover {
    color: cyan;
    font-size:2rem;
    transition: ease-in-out 0.3s;

}